<div class="loginPage">
  <div class="container">
    <div class="loginPage_contents">
      <h1 class="h4 loginPage_contents_title">一つ一つの出会いを大切に。</h1>
      <%= link_to "メールアドレスでログイン", new_user_session_path, class: "btn loginPage_contents_btn" %>
    </div>
  </div>
</div>